.navbar {
    background-color: rgba(242, 242, 242, 0.5);
    position: fixed; /* Fijar la barra de navegación en la parte superior */
    top: 0; /* Alinear en la parte superior */
    width: 100%; /* Ancho completo */
    display: flex; /* Mostrar los elementos en línea (horizontal) */
    justify-content: space-between; /* Espacio entre los elementos */
    align-items: center; /* Centrar verticalmente los elementos */
    padding: 10px 20px; /* Espacio interno (arriba/abajo y izquierda/derecha) */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); /* Sombra suave */
    z-index: 100;
    
  }
  
  .select {
    padding: 20 20px;
    border-radius: 22px;
  }

  .navbarButton {
    margin-right: 80px; /* Espacio entre el último filtro y el botón "CREATE" */
    
  }

  .logo {
    width: 100px; /* Ancho deseado */
    height: 40px; /* Alto deseado */
    margin-right: 10px; /* Espacio entre la imagen y la barra de navegación */
  }

  .create{
  font-size: medium ;
  border-radius: 12px;
  padding: 8px;
  color: #0b0b0c;
  
  }

  .create:hover {
    background: #d4eb09;
    color: #fff;
    box-shadow: 0 0 5px #dff70d,
      0 0 25px #db4205,
      0 0 50px #db4205,
      0 0 100px #db4205;
  }

  .button{
    border-radius: 12px;
 }